<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>DADOS DO EMITENTE</strong>
            <small></small>
          </div>
          <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="form-group col-sm-8">
                      <label for="Cadastros">NOME/RAZÃO SOCIAL</label>
                      <input type="text" class="form-control" id="city" placeholder="Digite o nome ou razão social">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="postal-code">CNPJ</label>
                      <input type="text" class="form-control" id="postal-code" placeholder="Cnpj da Instituição">
                    </div>
                  </div><!--/.row-->
            </div>
            <div class="form-group">
              <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="Cadastros">LOGRADOURO</label>
                    <input type="text" class="form-control" id="city" placeholder="Digite o Logradouro">
                  </div>
                  <div class="form-group col-sm-2">
                    <label for="postal-code">NUMERO</label>
                    <input type="text" class="form-control" id="postal-code" placeholder="Numero do predio">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="postal-code">COMPLEMENTO</label>
                    <input type="text" class="form-control" id="postal-code" placeholder="Complemento se Houver">
                  </div>
                </div><!--/.row-->
          </div>
          <div class="form-group">
            <div class="row">
                <div class="form-group col-sm-8">
                  <label for="Cadastros">BAIRRO</label>
                  <input type="text" class="form-control" id="city" placeholder="Digite o nome o bairro">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">CEP</label>
                  <input type="text" class="form-control" id="postal-code" placeholder="Cep">
                </div>
              </div><!--/.row-->
        </div>
        <div class="form-group">
          <div class="row">
              <div class="form-group col-sm-6">
                <label for="Cadastros">TELEFONE</label>
                <input type="text" class="form-control" id="city" placeholder="Digite o telefone">
              </div>
              <div class="form-group col-sm-6">
                <label for="postal-code">EMAIL</label>
                <input type="text" class="form-control" id="postal-code" placeholder="Email">
              </div>
            </div><!--/.row-->
      </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Editar</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Voltar</button>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
    
